jgnat/WcfTransactionClient/WcfTransactionClient/Service References/WcfTransactionService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
  <xs:element name="Zlecenie_glosowania">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Zlecenie_glosowaniaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Zlecenie_glosowaniaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Zatwierdzanie_globalne">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Zatwierdzanie_globalneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Zatwierdzanie_globalneResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Zaniechanie_globalne">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Zaniechanie_globalneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Zaniechanie_globalneResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>